@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Merriweather', serif;
}

#body {
  font-family: 'Lato', sans-serif;
  color: #1A1A1A; /* Color de texto principal */
  background: linear-gradient(45deg, #F1B634, #ffffff); /* Degradado de color */
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#square {
  background-color: #007bff; /* Color de fondo azul */
  font-size: 20px; /* Tamaño de la fuente */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Esquinas redondeadas */
  margin: 10px auto; /* Centrar el cuadrado horizontalmente */
  text-align: center; /* Centrar el texto */
  width: 80%; /* Ancho del cuadrado */
}

.custom-title {
    font-size: 100px; /* Tamaño del texto */
    color: #007bff; /* Color azul */
  }

  .parrafo-color {
    color: #007bff; /* Color azul */
    font-size: 30px; /* Tamaño de la fuente */

  }