<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-title">Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="navigateTo('/home')">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="navigateTo('/logout')">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" id="body">
  <ion-card class="ion-text-center" id="square">
    <ion-card-content>
      <h1 class="custom-title">¡Es un placer tenerte a bordo, {{username}}!</h1>
      <ion-img src="assets/img/logo.png" alt="Logo de la aplicación" class="logo custom-logo"></ion-img>
      <div class="text-blue">
        <p>Visualiza y edita tu información personal</p>
      </div>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input [(ngModel)]="nombreCompleto" placeholder="" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="username" placeholder="" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico Institucional</ion-label>
        <ion-input [(ngModel)]="correo" type="email" placeholder="" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">RUT</ion-label>
        <ion-input [(ngModel)]="rut" placeholder="" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Carrera</ion-label>
        <ion-input [(ngModel)]="carrera" placeholder="" required></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card-content id="cont-bot" class="ion-text-center">
    <ion-button color="secondary" (click)="confirmSaveUserData()">Editar Información</ion-button>
    <ion-button color="warning" routerLink="/home">Volver al menú <ion-icon name="home-outline"></ion-icon></ion-button>
  </ion-card-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center text-dark">© 2025 Todos los derechos reservados</ion-title>
  </ion-toolbar>
</ion-footer>